{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label>Which of the following do you relate to?</label>
        {{ render_field(form.depression) }}
        {{ render_field(form.family) }}
        {{ render_field(form.ed) }}
        {{ render_field(form.self_harm) }}
        {{ render_field(form.drugs) }}
        {{ render_field(form.share_personal_issues) }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock %}