{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}{{title}}{% endblock %}

{% block header%}{{ title }}{% endblock %}
{% block content %}
    <div class="mt-5">
        <div class="row ml-0">
            <div class="col-2">
                <img src="{{ url_for('static',filename='media/default_user/profile_pic.png') }}" class="rounded-circle img-fluid" alt="Profile Picture" width="400" height="400">
            </div>
            <div class="col-10">
                <h2>{{ mentee.first_name.capitalize() }} {{ mentee.last_name.capitalize() }}</h2>
            </div>
        </div>


            <form action="" method="post" novalidate>
                <div class="row ml-2 mt-5">
                {{ form.csrf_token }}
                    <div class="col">

                        <u class="mb-3">1. Select Date<br></u>
                        <div class="form-row" >
                            <div class="col">
                                {{ render_field(form.day, class='form-control') }}
                            </div>
                            <div class="col">
                                {{ render_field(form.month, class='form-control') }}
                            </div>
                            <div class="col">
                                {{ render_field(form.year, class='form-control') }}
                            </div>
                        </div>

                        <div class="form-group mt-5">
                            <u class="mb-3">2. Select Start Time<br></u>
                            <div class="form-row mt-0">
                                <div class="col">
                                    {{ render_field(form.hour, class='form-control') }}
                                </div>
                                <div class="col">
                                    {{ render_field(form.minute, class='form-control') }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-5">
                            <u class="mb-3">3. Select Duration</u>
                            <div class="form-row">
                                <div class="col">
                                    {{ render_field(form.duration, class='form-control') }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col ml-5">

                        <div class="form-group">
                            <u class="mb-3">4. Select Type</u>
                            <div class="form-row">
                                <div class="col">
                                    {{ render_field(form.type, class='form-control') }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-5">
                            <u class="mb-3">5. Location</u>
                            <div class="form-row">
                                <div class="col">
                                    {{ render_field(form.address, class="form-control mb-0") }}
                                </div>
                            </div>
                            <div class="form-row mt-0">
                                <div class="col">
                                    {{ render_field(form.postcode, class="form-control") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
    </div>
{% endblock %}