{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}{{title}}{% endblock %}

{% block header%}{{ title }}{% endblock %}
{% block content %}
    <div class="container vh-70 d-flex mt-6 col justify-content-center">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.crsf_token }}
                    <dl>
                        <div class="form">
                            <h2>School details</h2>
                            <div class="form-row">
                                <div class = "col">
                                    {{ render_field(form.name, class="form-control") }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    {{ render_field(form.email, class='form-control') }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    {{ render_field(form.ofsted_ranking, class='form-control') }}
                                </div>
                            </div>
                            <div class="form-row justify-content-center mt-2">
                                <dd><input type="submit" value="Submit" class="btn btn-primary"> </dd>
                            </div>
                        </div>
                    </dl>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}