<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/freelancer.css')}}">
</head>
<body>
<main role="main" class="container ml-1 mt-1">
    <h1>{% block header %}{% endblock %}</h1>
    <div class="row mt-3">
        <div class="col-sm-4 col-lg-2">
            <img class="img-fluid" src="{{ url_for('static',filename='media//thinking.png') }}">
        </div>
        <div class="col-sm-8 col-lg-10 my-auto">
            {% block content %}{% endblock %}
        </div>
    </div>

</main>
</body>