{# Authors: Mahdi Shah & Lina Vakanas #}

{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}{{title}}{% endblock %}

{% block header%}{{ title }}{% endblock %}
{% block content %}
<p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra, velit at efficitur consequat, lorem dui
    sodales mi, quis vulputate odio sem a mi. Nulla molestie purus sit amet rhoncus rhoncus. Duis pretium elit vitae
    ipsum consequat, non elementum mauris bibendum. Pellentesque cursus augue vitae orci congue, ac vulputate tortor
    condimentum. Nunc tellus lacus, aliquam sed libero nec, scelerisque vehicula quam. Nullam viverra elit quis mauris
    auctor vehicula. Nulla facilisi.
</p>
<p class="text-justify">
    Fusce erat velit, sollicitudin ac est eget, fringilla lobortis ante. Sed mattis consequat sapien, nec imperdiet ante
    lacinia vel. Sed sed rhoncus orci, ut gravida sapien. Donec nec porta libero. Integer porta sed velit vitae posuere.
    Sed eget augue sit amet justo aliquam maximus sed ac est. Ut feugiat quam nunc, ut volutpat tortor tincidunt nec.
    Maecenas elementum feugiat sapien, at laoreet risus accumsan sed. Aliquam vitae laoreet nisl. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque ac turpis vel diam ultricies vehicula.
    Morbi in mollis est, vitae hendrerit magna. Nulla rutrum laoreet elit vitae suscipit.
</p>

{% endblock %}
