<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/freelancer.css')}}">
</head>
{#nav-pills nav-justified#}
<body>
<nav class="navbar navbar-expand-xl nav-pills nav-fill navbar-light bg-light ">
    <div class="flex-fill">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.home')}}">WEBSITE NAME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.home')}}">Home</a>
            </li>

            <li class="nav-item dropdown ml-auto">
                {% if title == 'Mentor Profile' or title == 'Mentee Profile' or title == 'My Profile' or title == 'Book Meeting' or title == 'Not yet paired :('%}
                    <a class="nav-link dropdown-toggle active" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account</a>
                {% else %}
                    <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account</a>
                {% endif %}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('main.view_own_profile') }}" >My Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item " href="{{url_for('main.view_paired_profile')}}">Pair Profile</a>

                    {% if current_user.user_type == 'mentor' %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="{{ url_for('main.book_meeting') }}" >Book Meeting</a>

                    {% endif %}
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-item nav-link " href="{{url_for('auth.logout')}}">Logout</a>
            </li>

        </ul>
    </div>
</nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                <ul class="list-unstyled">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}


<main role="main" class="container-fluid">

<div class="row">
    <div class="col-1 mt-3">
        <img src="{% block display_pic %}{% endblock %}" class="rounded-circle img-fluid" alt="Profile Picture">
    </div>
    <div class="col-10">
        <h1>{% block name%}{{ name }}{% endblock %}</h1>
    </div>
</div>
    <div class="container vh-70 d-flex mt-6 col justify-content-center">
        {% block content %}
        {% endblock %}
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
