{% extends 'profiles/base.html' %}
{% block title %}{{title}}{% endblock %}

{% block display_pic %}{{ url_for('static',filename='media/default_user/profile_pic.png') }}{% endblock %}
{% block name%}{{ mentee.first_name.capitalize() }} {{ mentee.last_name.capitalize() }}{% endblock %}
{% block content %}
    <div class="row mt-3">
        <a href="{{ url_for('main.book_meeting', applicant_type='mentee', type_id=mentee.mentee_id, user_id=mentee.user_id) }}" >
            <input type="button" value="Book Meeting" class="btn btn-primary">
        </a>
    </div>
{% endblock %}

