{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Pending Mentees{% endblock %}

{% block header%}Pending Mentees{% endblock %}
{% block content %}
     {% if mentees|length %}
{#         Variable is not empty #}
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <form action="" method="post" novalidate>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Mentee ID</th>
                            <th scope="col">School ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Approve</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for query in queries %}
                            <tr>
                                <td>{{ query[1].mentee_id }}</td>
                                <td>{{ query[0].school_id }}</td>
                                <td>{{ query[1].first_name }}</td>
                                <td>{{ query[1].last_name }}</td>
                                <td>{{ query[0].user_id }}</td>
                                <td>{{ query[0].email }}</td>
    {#                            <td><input type="checkbox" id="{{ mentee }}" name="approve"></td>#}
                                <td>
                                    {{ render_field(form.approve, value=mentee.mentee_id)}}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" value="Submit" class="btn btn-primary">
    {#            Make it flash a msg#}
                </form>
            </div>
        </div>
    {% else %}
        <p>Sorry, no pending mentees found</p>
    {% endif %}
{% endblock %}


{#{% block content %}#}
{#     {% if mentees|length %}#}
{#         Variable is not empty #}
{#        <div class="mx-auto text-center">#}
{#            <table class="table">#}
{#                <thead class="thead-dark">#}
{#                <tr>#}
{#                    <th scope="col">Mentee ID</th>#}
{#                    <th scope="col">School ID</th>#}
{#                    <th scope="col">First Name</th>#}
{#                    <th scope="col">Last Name</th>#}
{#                    <th scope="col">User ID</th>#}
{#                    <th scope="col">Email</th>#}
{#                    <th scope="col">Approve</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for mentee in mentees %}#}
{#                    <tr>#}
{#                        <td>{{ mentee.mentee_id }}</td>#}
{#                        <td>{{ mentee.school_id }}</td>#}
{#                        <td>{{ mentee.first_name }}</td>#}
{#                        <td>{{ mentee.last_name }}</td>#}
{#                        <td>{{ mentee.user_id }}</td>#}
{#                        <td>{{ mentee.email }}</td>#}
{#                        <td><input type="checkbox" name="approve"></td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    {% else %}#}
{#         Variable is empty#}
{#        <p>Sorry, no pending mentees found</p>#}
{#    {% endif %}#}
{#{% endblock %}#}