{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Administrator Control Panel{% endblock %}

{% block header%}Administrator Control Panel{% endblock %}
{% block content %}
    <div class="container d-flex h-600 align-items-center">
        <div class="col-4 mx-auto text-center">
            <h1>USER STATISTICS</h1>
            <h2>Total Users: {{ stats_dict['users_total'] }}</h2>
            <h2>Total Unapproved: {{ stats_dict['unapproved_total'] }}</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th scope="col">School</th>
                    <th scope="col">Mentee</th>
                    <th scope="col">Mentor</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Approved Total</th>
                    <td>{{stats_dict['approved_schools_total']}}</td>
                    <td>{{ stats_dict['approved_mentees_total'] }}</td>
                    <td>{{stats_dict['approved_mentors_total']}}</td>
                </tr>
                <tr>
                    <th scope="row">Unapproved Total</th>
                    <td>{{stats_dict['unapproved_schools_total']}}</td>
                    <td>{{ stats_dict['unapproved_mentees_total'] }}</td>
                    <td>{{stats_dict['unapproved_mentors_total']}}</td>
                </tr>
                <tr>
                    <th scope="row">Total</th>
                    <td>{{stats_dict['schools_total']}}</td>
                    <td>{{ stats_dict['mentees_total'] }}</td>
                    <td>{{stats_dict['mentors_total']}}</td>
                </tr>
                </tbody>
            </table>
            <div class="row justify-content-center">
                <table class="buttons">
                    <tr>
                        <td><a href="{{ url_for('main.controlpanel_school') }}" >
                            <input type="button" value="Approve Schools" class="btn btn-primary">
                        </a></td>
                        <td><a href="{{ url_for('main.controlpanel_view_schools') }}" >
                            <input type="button" value="View School" class="btn btn-primary">
                        </a></td>
                    </tr>
                    <tr>
                        <td><a href="{{url_for('main.controlpanel_mentee')}}" >
                            <input type="button" value="Approve Mentees" class="btn btn-primary">
                        </a></td>
                        <td><a href="{{ url_for('main.controlpanel_view_mentees') }}" >
                            <input type="button" value="View Mentees" class="btn btn-primary">
                        </a></td>
                    </tr>
                    <tr>
                        <td><a href="{{url_for('main.controlpanel_mentor')}}" >
                            <input type="button" value="Approve Mentors" class="btn btn-primary">
                        </a></td>
                        <td><a href="{{ url_for('main.controlpanel_view_mentors') }}" >
                            <input type="button" value="View Mentors" class="btn btn-primary">
                        </a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="align-self-flex-center justify-content-flex-start">
            <form action="" method="post" novalidate >
                {{ search.csrf_token }}
                <div class="col-auto mb-4">
                    {{ render_field(search.search) }}
                </div>
                <div class="col-auto mb-3">
                    <div class="row">
                        {{ render_field(search.select) }}
                        {{ render_field(search.select2) }}
                    </div>
                </div>
                <div class="col-2 mb-0">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    <div class="container d-flex h-100 flex-wrap">
        <form action="" method="post" novalidate >
            {{ search.csrf_token }}
            <div class="col-auto mb-4">
                {{ render_field(search.search) }}
            </div>
            <div class="col-auto mb-3">
                <div class="row">
                    {{ render_field(search.select) }}
                    {{ render_field(search.select2) }}
                </div>
            </div>
            <div class="col-2 mb-0">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock %}
