{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}View Mentors{% endblock %}

{% block header%}View Mentors{% endblock %}
{% block content %}
     {% if mentors|length %}
{#         Variable is not empty #}
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <form action="" method="post" novalidate>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Mentor ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Paired Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mentor in mentors %}
                            <tr>
                                <td>{{ mentor.mentor_id }}</td>
                                <td>{{ mentor.first_name}}</td>
                                <td>{{ mentor.last_name }}</td>
                                <td>{{ mentor.user_id }}</td>
                                <td>{{ mentor.email }}</td>
                                <td>{{ mentor.paired }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" value="Submit" class="btn btn-primary">
    {#            Make it flash a msg#}
                </form>
            </div>
        </div>
    {% else %}
        <p>Sorry, no mentors exist</p>
    {% endif %}
{% endblock %}