{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}View Users{% endblock %}

{% block header%}View Users{% endblock %}
{% block content %}
<div>
    <form action="" method="post" novalidate>
        {{ search.csrf_token }}
        <div class="col-auto mb-4">
            {% if user_type == 'Mentee' %}
                {{ render_field(search.search, value='Mentee Email') }}
            {% elif user_type == 'Mentor' %}
                {{ render_field(search.search, value='Mentor Email') }}
            {% endif %}
        </div>
        <div class="col-auto mb-3">
            {{ render_field(search.select) }}
        </div>
        <div class="col-2 mb-0">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
     {% if queries|length %}
{#         Variable is not empty #}
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{user_type}} ID</th>
                            {% if user_type == 'Mentee' %}
                                <th scope="col">School ID</th>
                            {% endif %}
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Paired Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for query in queries %}
                            <tr>
                                {% if user_type == 'Mentee' %}
                                    <td>{{ query[1].mentee_id }}</td>
                                    <td>{{ query[0].school_id }}</td>
                                {% endif %}
                                {% if user_type == 'Mentor' %}
                                    <td>{{ query[1].mentor_id }}</td>
                                {% endif %}
                                <td>{{ query[1].first_name}}</td>
                                <td>{{ query[1].last_name }}</td>
                                <td>{{ query[0].user_id }}</td>
                                <td>{{ query[0].email }}</td>
                                <td>{{ query[1].paired }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    {% else %}
        <p>Sorry, no {{ user_type }}s exist</p>
    {% endif %}
{% endblock %}