{# 3rd Party Code: Javascript code which implements Clipboard.JS to allow the copy to clipboard functionality #}
{#                for the referral link on the view schools page #}
{# Code Use: Adapted #}
{# URL: https://webdesign.tutsplus.com/tutorials/copy-to-clipboard-made-easy-with-clipboardjs--cms-25086 #}
{# Date of retrieval: 12/04/2020 #}
{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}


{% block title %}{{ title }}{% endblock %}

{% block header%}{{ title }}{% endblock %}
{% block content %}
     {% if schools|length %}

            <div class="row mt-3">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class=" justify-content-center">
                        <h2>SCHOOL STATISTICS</h2>
                        <h3 class="font-weight-normal">Total Schools: {{ stats_dict['schools_total'] }}</h3>
                        <h3 class="font-weight-normal">Total Approved Schools: {{ stats_dict['approved_schools_total'] }}</h3>
                        <h3 class="font-weight-normal">Total Unapproved Schools: {{ stats_dict['unapproved_schools_total'] }}</h3>
                    </div>
                    <form action="" method="post" novalidate>
                        <div class="table-responsive-md">
                            <table class="table table-striped table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">School ID</th>
                                    <th scope="col">School Name</th>
                                    <th scope="col">School Email</th>
                                    <th scope="col">Ofsted Ranking</th>
                                    <th scope="col">Total Number of Mentees</th>
                                    <th scope="col">School Referral</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for school in schools %}
                                    <tr>
                                        <td>{{ school.school_id }}</td>
                                        <td>{{ school.school_name }}</td>
                                        <td>{{ school.school_email}}</td>
                                        <td>{{ school.ofsted_ranking }}</td>
                                        <td>{{ schools_dict[school.school_id] }}</td>
                                        <td>

                                            <input type="button" class="btn btn-outline-success" data-clipboard-text="http://127.0.0.1:5000/personal_form/mentee/{{school.school_id}}/"
                                            value="Copy Referral Link">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-sm-3 justify-content-center">
                            <a href="{{ url_for('main.controlpanel_home') }}" >
                                <input type="button" value="Control Panel Home" class="btn btn-primary">
                            </a>
                        </div>
        {#            Make it flash a msg#}
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
{#        </div>#}
    {% else %}
        <p>Sorry, no existing schools found</p>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>
        (function(){
            new ClipboardJS('.btn-outline-success');
        })();
    </script>
{% endblock %}