{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Pending Schools{% endblock %}

{% block header%}Pending Schools{% endblock %}
{% block content %}
     {% if schools|length %}
{#         Variable is not empty #}
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1>SCHOOL STATISTICS</h1>
                <h2>Total Schools: {{ stats_dict['schools_total'] }}</h2>
                <h2>Total Approved Schools: {{ stats_dict['approved_schools_total'] }}</h2>
                <h2>Total Unapproved Schools: {{ stats_dict['unapproved_schools_total'] }}</h2>

                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">School ID</th>
                            <th scope="col">School Name</th>
                            <th scope="col">School Email</th>
                            <th scope="col">Ofstead Ranking</th>
                            <th scope="col">Approve</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for school in schools %}
                            <tr>
                                <td>{{ school.school_id }}</td>
                                <td>{{ school.school_name }}</td>
                                <td>{{ school.school_email }}</td>
                                <td>{{ school.ofsted_ranking }}</td>
                                <td>
                                    {{ render_field(form.approve, value=school.school_id)}}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row justify-content-center">
                        <table>
                            <tr>
                                <td>
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{{ url_for('main.controlpanel_home') }}" >
                                        <input type="button" value="Control Panel Home" class="btn btn-primary">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
    {#            Make it flash a msg#}
                </form>
            </div>
        </div>
    {% else %}
        <p>Sorry, no pending schools found</p>
    {% endif %}
{% endblock %}