{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}{{title}}{% endblock %}

{% block header%}{{title}}{% endblock %}
{% block content %}
    {% if queries|length %}

    <div class="row mr-0 ml-0 ">
        <div class="col-md-4 row-sm ml-sm-0 pl-0  align-self-center">
            <form action="" method="post" novalidate>
                    {{ search.csrf_token }}
                <div class="form-row ml-md-3 ml-sm-0" >
                    <div class="col-lg-auto col-sm-6">
                        {{ render_field(search.search, class='form-control') }}
                    </div>
                    <div class="col-lg-auto col-sm-3">
                        {{ render_field(search.select, class='form-control') }}
                    </div>
                    <div class="col-lg-auto col-sm-3 mt-sm-3">
                        <p></p>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-4 col-sm-auto mt-4 sm-mx-auto ml-md-4 justify-content-center">
            <h2>{{user_type.upper()}} STATISTICS</h2>
                    <h3 class="font-weight-normal">Total {{user_type}}s: {{ stats_dict['{}_total'.format(type)] }}</h3>
                    <h3 class="font-weight-normal">Total Approved {{user_type}}s: {{ stats_dict['approved_{}_total'.format(type)] }}</h3>
                    <h3 class="font-weight-normal">Total Unapproved {{user_type}}s: {{ stats_dict['unapproved_{}_total'.format(type)] }}</h3>

                <table class="mt-4 table table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{{user_type}} ID</th>
                        {% if user_type == 'Mentee' %}
                            <th scope="col">School ID</th>
                        {% endif %}
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Paired Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for query in queries %}
                        <tr>
                            {% if user_type == 'Mentee' %}
                                <td>{{ query[1].mentee_id }}</td>
                                <td>{{ query[0].school_id }}</td>
                            {% elif user_type == 'Mentor' %}
                                <td>{{ query[1].mentor_id }}</td>
                            {% endif %}
                            <td>{{ query[1].first_name}}</td>
                            <td>{{ query[1].last_name }}</td>
                            <td>{{ query[0].user_id }}</td>
                            <td>{{ query[0].email }}</td>
                            <td>{{ query[1].paired }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <a href="{{ url_for('main.controlpanel_home') }}" >
                        <input type="button" value="Control Panel Home" class="btn btn-primary">
                    </a>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    {% else %}
        <p>Sorry, no {{ user_type }}s exist</p>
    {% endif %}
{% endblock %}