{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}{{ title }}{% endblock %}

{% block header%}{{ title }}{% endblock %}
{% block content %}
     {% if schools|length %}
         <div class="row mt-3">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="justify-content-center ">
                    <h2>SCHOOL STATISTICS</h2>
                    <h3 class="font-weight-normal">Total Schools: {{ stats_dict['schools_total'] }}</h3>
                    <h3 class="font-weight-normal">Total Approved Schools: {{ stats_dict['approved_schools_total'] }}</h3>
                    <h3 class="font-weight-normal">Total Unapproved Schools: {{ stats_dict['unapproved_schools_total'] }}</h3>
                </div>

                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <table class="mt-4 table table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">School ID</th>
                            <th scope="col">School Name</th>
                            <th scope="col">School Email</th>
                            <th scope="col">Ofstead Ranking</th>
                            <th scope="col">Approve</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for school in schools %}
                            <tr>
                                <td>{{ school.school_id }}</td>
                                <td>{{ school.school_name }}</td>
                                <td>{{ school.school_email }}</td>
                                <td>{{ school.ofsted_ranking }}</td>
                                <td>
                                    {{ render_field(form.approve, value=school.school_id)}}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row justify-content-center">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>

                    <div class="row mt-2 justify-content-center">
                        <a href="{{ url_for('main.controlpanel_home') }}" >
                            <input type="button" value="Control Panel Home" class="btn btn-primary">
                        </a>
                    </div>
    {#            Make it flash a msg#}
                </form>
            </div>
            <div class="col-md-2"></div>
         </div>
    {% else %}
        <p>Sorry, no pending schools found</p>
    {% endif %}
{% endblock %}