{# Code for the navigation bar based off of CodeLab: https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=dropdowns-within-nav
and BootStrap official website: https://getbootstrap.com/docs/4.0/components/navbar/ #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/freelancer.css')}}">
</head>

<body>
<nav class="navbar navbar-expand-xl nav-pills nav-fill navbar-light bg-light ">
    <div class="flex-fill">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.home')}}">WEBSITE NAME</a>
            </li>

            {% if title == 'RAIN BLOG' or title == 'Home' %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('main.home')}}">Home</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.home')}}">Home</a>
                </li>
            {% endif %}

            {% if current_user.is_anonymous %}
                {% if title == 'Login' %}
                    <li class="nav-item">
                        <a class="nav-item nav-link active" href="{{url_for('auth.login')}}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{url_for('auth.login')}}">Login</a>
                    </li>
                {% endif %}

                {% if title == 'Signup' or title == 'School Signup' %}
                    <li class="nav-item dropdown ml-auto">
                        <a  href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Signup</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ '/personal_form/mentor/0/' }}" >Mentor Signup</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('auth.school_signup') }}" >School Signup</a>
                        </div>
                    </li>

                {% else %}
                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Signup</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ '/personal_form/mentor/0/' }}" >Mentor Signup</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('auth.school_signup') }}" >School Signup</a>
                            </div>
                        </li>
                {% endif %}

            {% else %}
                {% if current_user.user_type == 'admin' %}
                    {% if title == 'Control Panel' %}
                        <li class="nav-item">
                            <a class="nav-item active nav-link " href="{{url_for('main.controlpanel_home')}}">Control Panel</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link " href="{{url_for('main.controlpanel_home')}}">Control Panel</a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if current_user.user_type == 'mentor' or current_user.user_type == 'mentee' %}
                    <li class="nav-item dropdown ml-auto">
                        {% if title == 'Mentor Profile' or title == 'Mentee Profile' or title == 'My Profile' or title == 'Book Meeting' or tittle == 'Not yet paired :('%}
                            <a class="nav-link dropdown-toggle active" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Account</a>
                        {% else %}
                            <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Account</a>
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('main.view_own_profile') }}" >My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{url_for('main.view_paired_profile') }}">Pair Profile</a>

                            {% if current_user.user_type == 'mentor' %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('main.book_meeting') }}" >Book Meeting</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}

                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Logout</a>
                    </li>
            {% endif %}
        </ul>
    </div>
</nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                <ul class="list-unstyled">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

<main role="main" class="container-fluid mx-0">
    <h1>
        {% block header %}{% endblock %}
    </h1>
    {% block content %}{% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>