{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}{{title}}{% endblock %}

{% block header%}{{ title }}{% endblock %}
{% block content %}
    <div class="container vh-70 d-flex mt-6 col justify-content-center">
        <form action="" method="post" novalidate>
            <div class="col-6">
                <img src="{{ url_for('static',filename='media/default_user/profile_pic.png') }}" class="rounded-circle img-fluid" alt="Profile Picture" width="400", height="400">
                <h2>{{ mentee.first_name.capitalize() }} {{ mentee.last_name.capitalize() }}</h2>

                    <label>1. Select Date</label>
                    <div class="form-row">
                        <div class="col">
                            {{ render_field(form.day) }}
                        </div>
                        <div class="col">
                            {{ render_field(form.month) }}
                        </div>
                    </div>

                    <label>2. Select Start Time</label>
                    <div class="form-row">
                        <div class="col">
                            {{ render_field(form.hour) }}
                        </div>
                        <div class="col">
                            {{ render_field(form.minute) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>3. Select Duration</label>
                        {{ render_field(form.duration) }}
                    </div>
            </div>

            <div class="col-6">
                    <div class="form-group">
                        <label>4. Select Type</label>
                        {{ render_field(form.type) }}
                    </div>

                    <div class="form-group">
                        <label>5. Location</label>
                        {{ render_field(form.address, class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.postcode, class="form-control") }}
                    </div>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
{% endblock %}